[submodule "src/models/voice_cloning_models/StyleTTS2"]
	path = src/models/voice_cloning_models/StyleTTS2/StyleTTS2
	url = https://github.com/yl4579/StyleTTS2.git
[submodule "src/models/audio_driven_talking_head_models/MeMoTalkingHead/memo"]
	path = src/models/audio_driven_talking_head_models/MeMoTalkingHead/memo
	url = https://github.com/memoavatar/memo.git
